<div class="row">
    <div class="column container">
       <img class="imageOne" src="../../../assets/images/sn1-bg.png" style="width:100%;"/>   
        <img class="imageTwo" src="../../../assets/images/app1.png" width="50%"/>
    </div>
    <div class="column thirdtxt">
        <h1 style="padding: 100px 0px 0px 60px;"> Lorem ipsum dolor </h1>
        <p style="padding: 0px 0px 0px 60px;"> Lorem ipsum dolor sit amet consectetur adipiscing elit. <br>
            suspendisse vel leo efficitur,
            venenatis est ticidunt nibh.<br>
            suspendisse lobortis lectus vel imperdite ullamcorper.</p>
    </div>
</div>
<div class="row">
    
    <div class="column thirdtxt">
        <h1 style="padding: 100px 0px 0px 60px;"> Lorem ipsum dolor </h1>
        <p style="padding: 0px 0px 0px 60px;"> Lorem ipsum dolor sit amet consectetur adipiscing elit. <br>
            suspendisse vel leo efficitur,
            venenatis est ticidunt nibh.<br>
            suspendisse lobortis lectus vel imperdite ullamcorper.</p>
    </div>
    <div class="column container">
        <img class="imageOne" src="../../../assets/images/sn1-bg.png" style="width:100%;"/>   
         <img class="imageTwo" src="../../../assets/images/app2.png" width="50%"/>
     </div>
</div>