<div class="row">
    <div class="column">
        <img src="../../../assets/images/ic1.png" alt="Snow" style="width:100%">
    </div>
    <div class="column thirdtxt">
        <h1 style="padding: 100px 0px 0px 60px;"> Lorem ipsum dolor </h1>
        <p style="padding: 0px 0px 0px 60px;"> Lorem ipsum dolor sit amet consectetur adipiscing elit. <br>
            suspendisse vel leo efficitur,
            venenatis est ticidunt nibh.<br>
            suspendisse lobortis lectus vel imperdite ullamcorper.</p>
    </div>

</div>
<div class="row">
    
    <div class="column thirdtxt">
        <h1 style="padding: 100px 0px 0px 60px;"> Lorem ipsum dolor </h1>
        <p style="padding: 0px 0px 0px 60px;"> Lorem ipsum dolor sit amet consectetur adipiscing elit. <br>
            suspendisse vel leo efficitur,
            venenatis est ticidunt nibh.<br>
            suspendisse lobortis lectus vel imperdite ullamcorper.</p>
    </div>
    <div class="column">
        <img src="../../../assets/images/ic2.png" alt="Snow" style="width:100%">
    </div>

</div>