<div class="mainsecond">
    <h6 class="hfotn txttran">Lorem ipsum dolor sit amet consectetur adipiscing elit. </h6>

    <h1 class="hfotn"> Lorem ipsum dolor sit amet</h1>

    <section class='resources'>
        <div class='container info'>
          <article>
            <img src="../../../assets/images/c1.png">
            <h4>Lorem ipsum dolor sit amet</h4>
            <p>suspendisse vel leo efficitur,
                venenatis est ticidunt nibh.</p>
            
          </article>
          <article>
            <img src="../../../assets/images/c2.png">
            <h4>Lorem ipsum dolor sit amet </h4>
            <p>suspendisse vel leo efficitur,
                venenatis est ticidunt nibh.</p>
            
          </article>
          <article>
            <img src="../../../assets/images/c3.png">
            <h4>Lorem ipsum dolor sit amet</h4>
            <p>suspendisse vel leo efficitur,
                venenatis est ticidunt nibh.</p>
            
          </article>
          <article>
            <img src="../../../assets/images/c4.png">
            <h4>Lorem ipsum dolor sit amet</h4>
            <p>suspendisse vel leo efficitur,
                venenatis est ticidunt nibh.</p>
        
          </article>
        </div>
    </section>
    <div class="text-center">
        <button class="btn1">
            CHECK OUR OFFER
        </button> 
    </div>
    
</div>


